#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #e2d9f3;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #6f42c1;
}

.message-wrap{
  overflow-y: scroll;
  max-height: 94vh;
}

.message-wrap-xsml{
  overflow-y: scroll;
  max-height: 86vh;
}